[program:{{ app_name }}]
command={{ command|replace("~", "%(ENV_HOME)s") }}
directory={{ directory|replace("~", "%(ENV_HOME)s") }}
stdout_logfile={{ log_dir|replace("~", "%(ENV_HOME)s") }}/{{ app_name }}.out.log
stderr_logfile={{ log_dir|replace("~", "%(ENV_HOME)s") }}/{{ app_name }}.err.log
autostart={% if autostart %}true{% else %}false{% endif %}

autorestart={% if autorestart %}{{autorestart}}{% else %}unexpected{% endif %}

numprocs={{ numprocs }}
{% if numprocs > 1 %}
process_name=%(program_name)s_%(process_num)01d
{% endif %}
user={{ user }}
stopwaitsecs={{ stopwaitsecs }}
{% if app_env|length > 0 %}
environment={% for name, var in app_env.iteritems() %}{{ name|upper }}="{{ var|replace('%', '%%')|replace('~', '%(ENV_HOME)s') }}"{% if not loop.last %},{% endif%}{% endfor %}
{% endif %}

{% if umask %}umask={{ umask }}{% endif %}
